body,
html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.home {
  /* width: 80%; */
}

.loginPage,
.registerPage {
  background-image: url("./assets/Best\ Car\ Wallpapers\ Hd\ 35\ Pictures.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

a {
  color: white;
}

.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  gap: 20px;
}

span {
  color: #fff;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

header {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.input-field input {
  height: 45px;
  width: 87%;
  border: none;
  border-radius: 30px;
  color: black;
  font-size: 15px;
  padding: 0 0 0 45px;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
}

.reg-field {
  margin-bottom: 15px;
}

::-webkit-input-placeholder {
  color: #121212;
}

.whiteLink {
  color: #fff;
}

.submit {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  color: rgb(249, 249, 249);
  background: rgb(19, 194, 51);
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: medium;
  margin-top: 10px;
}

.one {
  display: flex;
}

label a {
  text-decoration: none;
  color: #fff;
}

.errorMessage {
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}