.add-reservation-page {
  background-image: url('../images//audi-audi-rs5-coupe-car-wallpaper-preview.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  z-index: 2;
}

/* .add-reservation-page::before {
  content: '';
  position: absolute;
  top: 100px;
  right: 0;
  width:calc(100% - 200px);
  height:calc(100vh - 100px);
  background: rgba(151, 191, 14, 0.5);;
  z-index: -1;
} */

.message {
  font-weight: bold;
  text-align: center;
}

.success {
  color: white;
}

.error {
  color: red;
}

/* .add-reservation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: 25%;
} */

.add-reservation-container {
  background: rgba(151, 191, 14, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-heading {
  border-bottom: 1px solid white;
  padding: 5px;
  width: 100%;
}

.add-heading h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4em;
}

.add-reservation-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

input {
  background-color: transparent;
  outline: none;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
}

input[type="text"] {
  text-align: center;

  /* width: 113px; */
}

select {
  background-color: white;
  outline: none;
  border: 1px solid rgb(95, 237, 13);
  border-radius: 50px;
  padding: 10px;
  color: rgb(95, 237, 13);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.reservation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-btn {
  background-color: white;
  color: rgb(95, 237, 13);
  border-radius: 50px;
  border: 1px solid white;
  outline: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .add-reservation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 15px;
    width: 80%;
  }

  .add-heading {
    width: 80%;
  }

  .add-heading h2 {
    font-size: 1.3rem;
    letter-spacing: 0.2em;
  }

  input {
    font-size: 0.8rem;
    padding: 8px;
  }

  .reservation-item {
    flex-direction: column;
    gap: 10px;
  }

  .reservation-item label {
    margin-bottom: 5px;
  }

  .book-btn {
    font-size: 0.8rem;
    padding: 8px;
    width: 136px;
    margin: 0 auto;
  }
}
