body,
html {
  /* background-color: green; */

  /* background: linear-gradient(to center, #ee0505 50%, #1ee91e 50%); */

  /* width: 400px; */

  /* display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; */

  /* position: absolute; */
}

.addForm{
  background-image: url('../images/Best\ Car\ Wallpapers\ Hd\ 35\ Pictures.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  z-index: 2;
}

.innercontainer {
  background-color: rgba(151, 191, 14, 0.3);
  /* width: 40vw; */
  height: 90vh;

  /* margin-top: 50px; */
  padding-top: 30px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label > span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
textarea,
input[type="file"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid #ccc;
  font-size: 1rem;
}

/* .addInput{
  width: 100% !important;
} */

.btn-add-car {
  background-color: #97bf0e;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-add-car:hover {
  background-color: #0030cc;
}
